@mixin fontRedHatDisplay {font-family: 'Red Hat Display';
                          font-style: normal;
                          color: #000000;}

@mixin fontLatoGrey {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 166%;
    letter-spacing: 0.05em;
    color: #565656
}


@mixin fontLatoNormal {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #000000;
}

@mixin fontLatoGreySmall {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 166%;
    letter-spacing: 0.1em;
    color: #7B7B7B;
}

$background-footer-color: #F4F4F4;


header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #F4F4F4;
    opacity: 0.8;
    justify-content: space-between;
    align-items:center;
    padding-inline-start: 8.43rem;
    padding-inline-end: 8.43rem;
    min-height: 6.25rem;
    .nav{
        display: flex;
        gap: 5.25rem;
        .nav-ul{
            display: flex;
            gap: 2.625rem;
            .nav-li a{
                text-decoration:none;
                @include fontLatoNormal;
                
            }
        }
    }
}


.main{
    display: flex;
    flex-direction: column;
    gap: 90px;
    // max-width: 100%;
    .main-manifest{
        background-image: url(/src/image/bg-main-manifest.png);
        max-width: 100%;
        // min-width: 48rem;
        min-height: 37.5rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        h1{
          @include fontRedHatDisplay; 
          font-weight: 600;
        font-size: 3rem;
        line-height: 64px;
        letter-spacing: 0.05em;
        color: #000000;
        width: 50%;
        padding-inline-start: 8.43rem;
        }
    }
    .main-blog{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        gap: 3.125rem;
        padding-inline-start: 8.43rem;
        padding-inline-end: 8.43rem;
        box-sizing: border-box;
        h2{
            @include fontRedHatDisplay;
            font-weight: 400;
            font-size: 48px;
            line-height: 64px;
            letter-spacing: 0.05em;
            color: #000000;
        }
        .blog-wrapper{
            display: grid;
            gap: 50px;
            width: 100%;
            min-width: none;
            .blog-item{
                height: 470px;
                display: flex;
                gap: 30px;
                max-width: 1170px;
            }
            }
            
        }
}

.pointer-section {
    .pointer{
        background-image: url(/src/image/imagepointerblog.png);
        background-repeat:no-repeat;
        background-size:cover;
        height: 100%;
        width: 50%;
    }
    .blog-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
}

.building-section{
    .building{
        background-image: url(/src/image/bg-main-manifest.png);
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        height: 100%;
        width: 50%;
    }
    .blog-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50%;
    }
}

.latest{
   display: flex; 
   flex-direction: column;
   padding-inline-start: 8.43rem;
   padding-inline-end: 8.43rem;
   gap: 50px;
   .latest-tittle{
    display: flex;
    justify-content: space-between;
    }
    .latest-wrapper{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        .latest-item{
           max-width: 370px; 
           min-height: 500px;
           display: flex;
           flex-direction: column;
           gap: 20px;
           justify-content: flex-start;
           .lamp{
            background-image:url(/src/image/white-lamp.png);
            background-position:center;
            background-size:cover;
            background-repeat:no-repeat;
            width: 100%;
            height: 260px;
           }
           .roof{
            background-image:url(/src/image/roof.png);
            background-position:center;
            background-repeat:no-repeat;
            background-size:cover;
            width: 100%;
            height: 260px;
           }
           .img-captch{
            display: flex;
            justify-content: space-between;
            }
            .latest-pointer{
                background-image:url(/src/image/imagepointerblog.png);
                background-size:cover;
                width: 100%;
                height: 260px;
            }
        }
   
    }
}

.popular{
    display: flex; 
   flex-direction: column;
   padding-inline-start: 8.43rem;
   padding-inline-end: 8.43rem;
   gap: 50px;
   .popular-tittle{
    display: flex;
    justify-content: space-between;
    }
    .button{
        align-self: center;
        a{
           text-decoration: none;
           color:#FFFFFF;
           padding: 9.5px 45px;
           background: #565656;
        }
    }
    .popular-wrapper{
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
        width: 100%;
        justify-content: space-between;
        .popular-item{
            min-width: 50%; 
            max-width: 570px;
            min-height: 500px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: flex-start; 
            .orange-lamp-img{
                background-image:url(/src/image/orange-lamp.png);
                background-size:cover;
                background-repeat:no-repeat;
                width: 100%;
                max-width: 570px;
                height: 260px;
            }  
            .wall-img{
                background-image:url(/src/image/wall.png);
                background-size:cover;
                background-repeat:no-repeat;
                width: 100%;
                max-width: 570px;
                height: 260px;
            }
            .image-captch{
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 570px;
            }
         }
        }
        
    }

    .fulltime{
        display: flex;
        justify-content: space-between;
        padding-inline-start: 8.43rem;
        padding-inline-end: 8.43rem;
        gap: 230px;
        .fulltime-text{
            max-width: 470px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 32px;
            letter-spacing: 0.05em;
            color: #565656;
        }
        .fulltime-item{
            font-family: 'Red Hat Display';
            font-style: normal;
            font-weight: 400;
            font-size: 23px;
            line-height: 166%;
            letter-spacing: 0.1em;
            color: #000000;
            max-width: 470px;

        }
    }
footer{
        padding-inline-start: 8.43rem;
        padding-inline-end: 8.43rem;
        background-color:#F4F4F4;
        display: flex;
        gap: 25px;
        flex-direction: column;
        height: 300px;
        justify-content: center;
        p{
            align-self:center;
        }
        .footer-wrapper{
            display: flex;
            justify-content: space-between;
            .need{
                h5{
                    @include fontRedHatDisplay;
                    font-weight: 400;
                    font-size: 48px;
                    line-height: 64px;
                    letter-spacing: 0.05em;
                    color: #000000;
                    margin-bottom: 30px
                }
                p{
                   @include fontLatoNormal;
                   margin-bottom: 15px;
                }
            }
            .social{
                display: flex;
                justify-content: space-between;
                width: 268px;
                align-items:center;
                li{
                    height: 50px;
                    width: 50px;
                    border: 1px solid #565656;
                    a{
                        .icon{
                            width: 100%;
                            height: 100%;
                            fill:#565656;
                        }
                    }
                }
                li:hover{
                    background-color:#565656;
                    a{
                        .icon{
                            fill: #F4F4F4;
                        }
                    }
                }
            }
        }
    }


    @media  screen and (min-width:1440px) {
        .nav-humburger{
            display: none;
        }
        .blog-wrapper{
            grid-template-columns: repeat(auto-fit,minmax(1170px,1fr));
        }
    }

    @media screen and (max-width: 1439px) {
        .nav-ul .nav-li{
         display: none;
        }
        .nav-humburger input{
            visibility: hidden;
        }
        .nav-humburger input + label{
            cursor: pointer;
        }
        .humburger-ul{
            display: none;
            position: absolute;
            left: -200px;
            
        }
        .humburger-ul li a{
            text-decoration: none;
            font-family: 'Lato';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.3em;
            text-transform: uppercase;
            color: #000000;
        }
        .humburger-ul li a:hover{
            text-decoration: underline;
        }
        input[name="humburger"]:checked ~ ul{
            display: flex;
            flex-direction: column;
            width: 100px;
            height: 500px;
            justify-content: space-around;
            left: 50%;
            
        }

      
        header, .fulltime, .popular, .latest, .main .main-blog{
            padding-inline-start: 2.125rem;
            padding-inline-end: 2.125rem;
        }
        .blog-wrapper{
            display: grid;
            grid-template-columns: repeat(auto-fit,minmax(100%,1fr));
            gap: 50px;
            width: 100%;
            min-width: none;
                .blog-item{
                    height: 470px;
                    gap: 30px;
                    width: 100%;
                }
        }
        footer{
            padding-inline-start: 0;
            padding-inline-end: 0;
            display: flex;
            flex-direction: column;
            p{
                align-self:center;
            }
            .footer-wrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items:center;
            }
        }
        .fulltime{
            flex-direction: column;
            gap: 70px;
            .fulltime-text{
                align-self:flex-end;
                text-align: right;
                max-width: 100%;
            }
        }

  }
       

      
    
    
      @media screen and (max-width: 767px){
        header, .fulltime, .popular, .latest, .main .main-blog{
            padding-inline-start: 0.625rem;
            padding-inline-end: 0.625rem;
        }
        .blog-item{
            flex-direction: column-reverse;
        }
        .building-section{
            flex-direction: column;
            .building{
                order: 2;
                width: 100%;
            }
            .blog-text{
                order: 1;
                width: 50%;
            }
        }
        .pointer-section {
            flex-direction: column;
            .pointer{
                width: 100%;
                order: 2;
            }
            .blog-text{
                width: 100%;
            }
        }
        .latest{
            gap: 30px;
            .latest-tittle{
             flex-direction: column;
             }
             .latest-wrapper{
                justify-content: center;
                 .latest-item{
                    max-width: 100%; 
                    min-height: 420px;
                    display: flex;
                    flex-direction: column;
                    gap: 25px;
                    justify-content: space-between;
                 }
            
             }
         }
         .popular{
           gap: 30px;
           .popular-tittle{
            flex-direction: column;
            }
            
            .popular-wrapper{
                flex-direction: column;
                gap: 50px;
                 }
            }
            .fulltime{
                flex-direction: column;
                align-items: center;
                padding-inline-start: 0.625rem;
                padding-inline-end: 0.625rem;
                gap: 50px;
            }
                
        }
     
      