header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: #F4F4F4;
  opacity: 0.8;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 8.43rem;
  padding-inline-end: 8.43rem;
  min-height: 6.25rem;
}
header .nav {
  display: flex;
  gap: 5.25rem;
}
header .nav .nav-ul {
  display: flex;
  gap: 2.625rem;
}
header .nav .nav-ul .nav-li a {
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 90px;
}
.main .main-manifest {
  background-image: url(/src/image/bg-main-manifest.png);
  max-width: 100%;
  min-height: 37.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main .main-manifest h1 {
  font-family: "Red Hat Display";
  font-style: normal;
  color: #000000;
  font-weight: 600;
  font-size: 3rem;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
  width: 50%;
  padding-inline-start: 8.43rem;
}
.main .main-blog {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 3.125rem;
  padding-inline-start: 8.43rem;
  padding-inline-end: 8.43rem;
  box-sizing: border-box;
}
.main .main-blog h2 {
  font-family: "Red Hat Display";
  font-style: normal;
  color: #000000;
  font-weight: 400;
  font-size: 48px;
  line-height: 64px;
  letter-spacing: 0.05em;
  color: #000000;
}
.main .main-blog .blog-wrapper {
  display: grid;
  gap: 50px;
  width: 100%;
  min-width: none;
}
.main .main-blog .blog-wrapper .blog-item {
  height: 470px;
  display: flex;
  gap: 30px;
  max-width: 1170px;
}

.pointer-section .pointer {
  background-image: url(/src/image/imagepointerblog.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 50%;
}
.pointer-section .blog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.building-section .building {
  background-image: url(/src/image/bg-main-manifest.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 50%;
}
.building-section .blog-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.latest {
  display: flex;
  flex-direction: column;
  padding-inline-start: 8.43rem;
  padding-inline-end: 8.43rem;
  gap: 50px;
}
.latest .latest-tittle {
  display: flex;
  justify-content: space-between;
}
.latest .latest-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.latest .latest-wrapper .latest-item {
  max-width: 370px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
.latest .latest-wrapper .latest-item .lamp {
  background-image: url(/src/image/white-lamp.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 260px;
}
.latest .latest-wrapper .latest-item .roof {
  background-image: url(/src/image/roof.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 260px;
}
.latest .latest-wrapper .latest-item .img-captch {
  display: flex;
  justify-content: space-between;
}
.latest .latest-wrapper .latest-item .latest-pointer {
  background-image: url(/src/image/imagepointerblog.png);
  background-size: cover;
  width: 100%;
  height: 260px;
}

.popular {
  display: flex;
  flex-direction: column;
  padding-inline-start: 8.43rem;
  padding-inline-end: 8.43rem;
  gap: 50px;
}
.popular .popular-tittle {
  display: flex;
  justify-content: space-between;
}
.popular .button {
  align-self: center;
}
.popular .button a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 9.5px 45px;
  background: #565656;
}
.popular .popular-wrapper {
  display: flex;
  flex-wrap: nowrap;
  gap: 30px;
  width: 100%;
  justify-content: space-between;
}
.popular .popular-wrapper .popular-item {
  min-width: 50%;
  max-width: 570px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}
.popular .popular-wrapper .popular-item .orange-lamp-img {
  background-image: url(/src/image/orange-lamp.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 570px;
  height: 260px;
}
.popular .popular-wrapper .popular-item .wall-img {
  background-image: url(/src/image/wall.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 570px;
  height: 260px;
}
.popular .popular-wrapper .popular-item .image-captch {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 570px;
}

.fulltime {
  display: flex;
  justify-content: space-between;
  padding-inline-start: 8.43rem;
  padding-inline-end: 8.43rem;
  gap: 20px;
}
.fulltime .fulltime-text {
  max-width: 470px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  padding-inline-start: 8.43rem;
  padding-inline-end: 8.43rem;
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
}
footer p {
  align-self: center;
}
footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1440px) {
  .nav-humburger {
    display: none;
  }
  .blog-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(1170px, 1fr));
  }
}
@media screen and (max-width: 1439px) {
  .nav-ul .nav-li {
    display: none;
  }
  header, .fulltime, .popular, .latest, .main .main-blog {
    padding-inline-start: 2.125rem;
    padding-inline-end: 2.125rem;
  }
  .blog-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 50px;
    width: 100%;
    min-width: none;
  }
  .blog-wrapper .blog-item {
    height: 470px;
    gap: 30px;
    width: 100%;
  }
  footer {
    padding-inline-start: 0;
    padding-inline-end: 0;
    display: flex;
    flex-direction: column;
  }
  footer p {
    align-self: center;
  }
  footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  header, .fulltime, .popular, .latest, .main .main-blog {
    padding-inline-start: 0.625rem;
    padding-inline-end: 0.625rem;
  }
  .blog-item {
    flex-direction: column-reverse;
  }
  .building-section {
    flex-direction: column;
  }
  .building-section .building {
    order: 2;
    width: 100%;
  }
  .building-section .blog-text {
    order: 1;
    width: 50%;
  }
  .pointer-section {
    flex-direction: column;
  }
  .pointer-section .pointer {
    width: 100%;
    order: 2;
  }
  .pointer-section .blog-text {
    width: 100%;
  }
  .latest {
    gap: 30px;
  }
  .latest .latest-tittle {
    flex-direction: column;
  }
  .latest .latest-wrapper {
    justify-content: center;
  }
  .latest .latest-wrapper .latest-item {
    max-width: 100%;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: space-between;
  }
  .popular {
    gap: 30px;
  }
  .popular .popular-tittle {
    flex-direction: column;
  }
  .popular .popular-wrapper {
    flex-direction: column;
    gap: 50px;
  }
  .fulltime {
    flex-direction: column;
    align-items: center;
    padding-inline-start: 0.625rem;
    padding-inline-end: 0.625rem;
    gap: 50px;
  }
}

/*# sourceMappingURL=index.css.map */
